<div class="row" ng-controller="shopController">

	<div class="large-12 columns">
		<div class="panel callout">
			Total: {{ cost | currency : constants.currency_symbol }}
		</div>
	</div>

	<div class="large-12 columns">

		<div ng-repeat="(paymentType,value) in constants.checkout_methods">
			<div ng-if="value == true" ng-include src=" constants.app_base_url + '/segments/' + paymentType + '.html'"></div>
		</div>

	</div>

	Lets ask the user if they would like this order to be shipped to the address we have on record for them, lets also pass these details to paypal so they dont need to enter them on paypal if they dont have a paypal account..
	<hr>
	User Data: {{ userData }}

</div>