<div class="row" ng-controller="shopController">

	<div class="large-12 columns">

		<input type="search" ng-model="q" placeholder="Search Products" style="height:47px;" />

		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
		 	<li ng-repeat="product in products | objFilter | filter:q">
		 		<div class="panel">
		  			<div productid="{{ product.product_id }}">
						<div ng-click="viewProduct($event)"><h5>{{ product.product_name }}</h5></div>
						<div><img src="{{ constants.app_base_url }}/images/products/{{ product.product_id }}.jpg" /></div>
						<div><p>{{ product.product_short_desc }}</p></div>
						<div align="center" productid="{{ product.product_id }}">
							<button ng-click="viewProduct($event)" class="button expand success [radius round small]">{{ product.product_price | currency : constants.currency_symbol }} {{ product.product_payment }}</button>
						</div>
					</div>
		  		</div>
		  	</li>
		</ul>

	</div>

</div>